*{
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    span{
        font-size: 74px;
        color: red;
        text-transform: uppercase;
    }
}